# -------------------------------------------------------------
# Central playbook for endpoints
# -------------------------------------------------------------

# ---------------------------
# Generate certificates
# ---------------------------
- name: Generate Certificates for all endpoints
  ansible.builtin.import_playbook: ./setup_certificate.yml

# ---------------------------
# Distribute certificates
# ---------------------------
- name: Distribute Certificate to all endpoints
  ansible.builtin.import_playbook: ./distribute_certificate.yml

# --------------------------
# Setup WinRM HTTPS Listeners
# --------------------------
- name: Setup Windows hosts for WinRM HTTPS Listeners
  ansible.builtin.import_playbook: ./setup_winrm_server_cert.yml

# --------------------------
# Configure Windows Hosts
# --------------------------
- name: Setup Windows hosts for certificate-based WinRM
  ansible.builtin.import_playbook: ./setup_windows.yml

# ---------------------------
# Configure Linux hosts
# ---------------------------
- name: Configure Linux hosts
  hosts: rocky:ubuntu_vms
  become: true
  gather_facts: true
  vars:
    ssh_ports:
      RedHat: 22
      Debian: 22
  tasks:

    - name: Ensure firewalld / ufw installed
      block:
        - name: Install firewalld (RedHat family)
          ansible.builtin.yum:
            name: firewalld
            state: present
          when: ansible_os_family == "RedHat"

        - name: Enable firewalld
          ansible.builtin.service:
            name: firewalld
            state: started
            enabled: true
          when: ansible_os_family == "RedHat"

        - name: Allow SSH in firewalld
          ansible.posix.firewalld:
            service: ssh
            permanent: true
            state: enabled
            immediate: true
          when: ansible_os_family == "RedHat"

        - name: Install ufw (Debian/Ubuntu)
          ansible.builtin.apt:
            name: ufw
            state: present
          when: ansible_os_family == "Debian"

        - name: Allow SSH in ufw
          ansible.builtin.command: ufw allow OpenSSH
          become: true
          when: ansible_os_family == "Debian"
          changed_when: false

    - name: Test Linux connectivity
      ansible.builtin.ping:
