- name: Setup Certificates
  hosts: localhost
  gather_facts: false
  vars:
    cert_dir: '/home/student/project/nssa320g7/cert'
  tasks:

  - name: Verify required facts are setup
    ansible.builtin.assert:
      that:
        - username is defined
        - playbook_dir is defined
        - cert_dir is defined

  - name: Show Directories
    ansible.builtin.debug:
      msg: "Playbook Directory: {{ playbook_dir }}\nCertificate Directory: {{ cert_dir }}"


  - name: Create certificate output dir
    ansible.builtin.file:
      path: '{{ cert_dir }}'
      state: directory
      owner: "{{ ansible_user | default('student') }}"
      group: "{{ ansible_user | default('student') }}"
      mode: '0700'

  # Generate Certificate Key password
  # This isn't used for WinRM, the modules just require a passphrase to be set.
  - name: Generate certificate key password
    ansible.builtin.set_fact:
      certificate_password: "{{ lookup('ansible.builtin.password', '{{ cert_dir }}/cert_password', length=15) }}"

  # CA Private Key Check
  - name: Check if CA private key exists
    ansible.builtin.stat:
      path: "{{ cert_dir }}/ca.key"
    register: ca_key_stat

  # -----------------------------------------------------------------------
  # CA PRIVATE KEY: (idempotent: module will not overwrite and existing key)
  # -----------------------------------------------------------------------
  - name: Create CA private key if missing
    community.crypto.openssl_privatekey:
      path: "{{ cert_dir }}/ca.key"
      passphrase: "{{ certificate_password }}"
      cipher: auto
    register: ca_key
    when: not ca_key_stat.stat.exists


  # ------------------------------------
  # CA CSR
  # -----------------------------------
  - name: Create CA CSR
    community.crypto.openssl_csr_pipe:
      privatekey_path: "{{ cert_dir }}/ca.key"
      privatekey_passphrase: "{{ certificate_password }}"
      common_name: WinRM Cert Auth CA
      use_common_name_for_san: false
      basic_constraints:
        - 'CA:TRUE'
      basic_constraints_critical: true
      key_usage:
        - keyCertSign
      key_usage_critical: true
    register: ca_csr
    when: ca_key_stat.stat.exists

  # CA Cert Check (ca.pem)
  - name: Check if CA cert exists - ca.pem
    ansible.builtin.stat:
      path: "{{ cert_dir }}/ca.pem"
    register: ca_cert_stat

  # CA Cert Check (ca_csr.csr)
  - name: Check if CA cert exists - ca_csr.csr
    ansible.builtin.stat:
      path: "{{ cert_dir }}/ca_csr.csr"
    register: ca_csr_stat

  # ------------------------------------------------------
  # CA Cert: (idempotent: module check existing certificate
  # -------------------------------------------------------

  - name: Create CA certificate from CSR
    community.crypto.x509_certificate:
      path: "{{ cert_dir }}/ca.pem"
      csr_content: "{{ ca_csr.csr }}"
      privatekey_path: "{{ cert_dir }}/ca.key"
      privatekey_passphrase: "{{ certificate_password }}"
      provider: selfsigned
    when: ca_csr_stat.stat.exists and not ca_cert_stat.stat.exists

  # Client Private Key
  - name: Check if Client Private key exists
    ansible.builtin.stat:
      path: '{{ cert_dir }}/client_cert.key'
    register: client_key_stat


  # ----------------------------------
  # CLIENT PRIVATE KEY: (idempotent)
  # ----------------------------------
  - name: Create Client certificate private key
    community.crypto.openssl_privatekey:
      path: "{{ cert_dir }}/client_cert.key"
      passphrase: "{{ certificate_password }}"
      cipher: auto
    when: not client_key_stat.stat.exists

  # ----------------------------------
  # CLIENT CSR: (deterministic)
  # ----------------------------------
  - name: Create Client certificate CSR
    community.crypto.openssl_csr_pipe:
      privatekey_path: '{{ cert_dir }}/client_cert.key'
      privatekey_passphrase: '{{ certificate_password }}'
      # The common name does not need to be the username, we just use this
      # format by convention and to make it easy to identify who it maps to.
      common_name: '{{ username }}'
      extended_key_usage:
        - clientAuth
      # OID here represents userPrincipalName.
      # The format of the value isn't important, we only use this format by
      # convention.
      subject_alt_name: otherName:1.3.6.1.4.1.311.20.2.3;UTF8:{{ username }}@localhost
    register: cert_auth_csr
    when: client_key_stat.stat.exists

  # Client Cert from CA Check (client_cert.pem)
  - name: Check if client certificate exists
    ansible.builtin.stat:
      path: "{{ cert_dir }}/client_cert.pem"
    register: client_cert_stat

  # Client Cert from CA Check (cert_auth_csr.csr)
  - name: Check if client certificate auth csr exists
    ansible.builtin.stat:
      path: "{{ cert_dir }}/cert_auth_csr.csr"
    register: cert_auth_csr_stat


  # ---------------------------------
  # CLIENT CERT from CA: (idempotent compares existing cert with CSR
  # ---------------------------------
  - name: Create Client certificate from CSR
    community.crypto.x509_certificate:
      path: '{{ cert_dir }}/client_cert.pem'
      csr_content: "{{ cert_auth_csr.csr }}"
      provider: ownca
      ownca_path: '{{ cert_dir }}/ca.pem'
      ownca_privatekey_path: '{{ cert_dir }}/ca.key'
      ownca_privatekey_passphrase: "{{ certificate_password }}"
      ownca_not_after: +365d
      ownca_not_before: '-1d'
    register: client_cert
    when: cert_auth_csr_stat.stat.exists and not client_cert_stat.stat.exists

  # ----------------------------------------------------
  # STRIP PASSWORD (idempotent using creates)
  # ----------------------------------------------------

  # The Python requests library used in WinRM transports do not support
  # encrypted private keys, we need to generate a key without a passphrase.
  - name: Strip passphrase from client certificate key
    ansible.builtin.command:
      cmd: >-
        openssl rsa
        -in client_cert.key
        -out client_cert_no_pass.key
        -passin pass:{{ certificate_password }}
      chdir: '{{ cert_dir }}'
      creates: '{{ cert_dir }}/client_cert_no_pass.key'
    register: strip_key
    changed_when: strip_key.rc == 0 and strip_key.stdout != ""

  # -----------------------------------------
  # Summary
  # ----------------------------------------

  - name: Output summary
    ansible.builtin.debug:
      msg: |
        CA and Client Certificate has been generated at {{ cert_dir }}
        CA Key:               {{ cert_dir }}/ca.key
        CA Cert:              {{ cert_dir }}/ca.pem
        Client cert:          {{ cert_dir }}/client_cert.pem
        Client key:           {{ cert_dir }}/client_cert_no_pass.key
        Private key password: {{ certificate_password }}
