---
- name: Configure Linux hosts
  hosts: rocky:ubuntu_vms
  become: yes
  vars:
    ssh_ports:
      RedHat: 22
      Debian: 22
  tasks:

    - name: Ensure firewalld / ufw installed
      block:
        - name: Install firewalld (RedHat family)
          ansible.builtin.yum:
            name: firewalld
            state: present
          when: ansible_os_family == "RedHat"

        - name: Enable firewalld
          ansible.builtin.service:
            name: firewalld
            state: started
            enabled: yes
          when: ansible_os_family == "RedHat"

        - name: Allow SSH in firewalld
          ansible.posix.firewalld:
            service: ssh
            permanent: yes
            state: enabled
            immediate: yes
          when: ansible_os_family == "RedHat"

        - name: Install ufw (Debian/Ubuntu)
          ansible.builtin.apt:
            name: ufw
            state: present
          when: ansible_os_family == "Debian"

        - name: Allow SSH in ufw
          ansible.builtin.ufw:
            rule: allow
            name: OpenSSH
          when: ansible_os_family == "Debian"

    - name: Test Linux connectivity
      ansible.builtin.ping:

---

- name: Generate certificates for Windows hosts
  hosts: localhost
  gather_facts: no
  vars:
    cert_user: ansible   # or AnsibleCertUser
  tasks:

    - name: Run setup_certificate.yml from winrm-cert-auth
      import_playbook: ../winrm-cert-auth/setup_certificate.yml
      vars:
        username: "{{ cert_user }}"

---

- name: Configure Windows hosts for certificate-based WinRM
  hosts: windows
  gather_facts: yes
  vars:
    cert_user: ansible
    cert_path: "../winrm-cert-auth/cert"   # folder created by setup_certificate.yml
  tasks:

    - name: Ensure WinRM service is running
      ansible.windows.win_service:
        name: WinRM
        start_mode: auto
        state: started

    - name: Enable certificate authentication
      ansible.windows.win_shell: |
        winrm set winrm/config/service/auth @{Certificate="true"}
      args:
        executable: powershell

    - name: Ensure HTTPS listener exists on 5986
      ansible.windows.win_shell: |
        if (-not (Get-ChildItem WSMan:\LocalHost\Listener | Where-Object { $_.Keys -eq "Transport=HTTPS" })) {
            winrm create winrm/config/Listener?Address=*+Transport=HTTPS
        }
      args:
        executable: powershell

    - name: Ensure firewall allows 5986
      ansible.windows.win_firewall_rule:
        name: "WinRM HTTPS"
        enable: yes
        direction: in
        localport: 5986
        protocol: TCP
        action: allow

    - name: Map certificate to user
      ansible.windows.win_shell: |
        $thumb = (Get-ChildItem -Path Cert:\LocalMachine\My | Where-Object { $_.Subject -like "*{{ cert_user }}*" }).Thumbprint
        winrm set winrm/config/service/certmapping @{CertificateThumbprint=$thumb;UserName="{{ cert_user }}"}
      args:
        executable: powershell

    - name: Test Windows connectivity via certificate
      ansible.windows.win_ping:
      vars:
        ansible_connection: winrm
        ansible_winrm_transport: certificate
        ansible_winrm_cert_pem: "{{ cert_path }}/client_cert.pem"
        ansible_winrm_cert_key_pem: "{{ cert_path }}/client_key.pem"
        ansible_port: 5986
        ansible_winrm_server_cert_validation: ignore
